{{- $presets := dict
  "nano" (dict
      "requests" (dict "cpu" "100m" "memory" "128Mi" "ephemeral-storage" "50Mi")
      "limits" (dict "cpu" "150m" "memory" "192Mi" "ephemeral-storage" "2Gi")
   )
  "micro" (dict
      "requests" (dict "cpu" "250m" "memory" "256Mi" "ephemeral-storage" "50Mi")
      "limits" (dict "cpu" "375m" "memory" "384Mi" "ephemeral-storage" "2Gi")
   )
  "small" (dict
      "requests" (dict "cpu" "500m" "memory" "512Mi" "ephemeral-storage" "50Mi")
      "limits" (dict "cpu" "750m" "memory" "768Mi" "ephemeral-storage" "2Gi")
   )
  "medium" (dict
      "requests" (dict "cpu" "500m" "memory" "1024Mi" "ephemeral-storage" "50Mi")
      "limits" (dict "cpu" "750m" "memory" "1536Mi" "ephemeral-storage" "2Gi")
   )
  "large" (dict
      "requests" (dict "cpu" "1.0" "memory" "2048Mi" "ephemeral-storage" "50Mi")
      "limits" (dict "cpu" "1.5" "memory" "3072Mi" "ephemeral-storage" "2Gi")
   )
  "xlarge" (dict
      "requests" (dict "cpu" "1.0" "memory" "3072Mi" "ephemeral-storage" "50Mi")
      "limits" (dict "cpu" "3.0" "memory" "6144Mi" "ephemeral-storage" "2Gi")
   )
  "2xlarge" (dict
      "requests" (dict "cpu" "1.0" "memory" "3072Mi" "ephemeral-storage" "50Mi")
      "limits" (dict "cpu" "6.0" "memory" "12288Mi" "ephemeral-storage" "2Gi")
   )
 }}
apiVersion: rabbitmq.com/v1beta1
kind: RabbitmqCluster
metadata:
  name: dai-xld-rabbitmq
spec:
  {{- if eq .IsCustomImageRegistry true }}
  image: {{ .CustomImageRegistryName }}/{{ .RepositoryNameRelease }}/rabbitmq:4.2.3-management
  {{- else }}
  image: docker.io/library/rabbitmq:4.2.3-management
  {{- end }}

  {{- if eq .ImageRegistryType "private" }}
  imagePullSecrets:
    - name: {{ .CustomPrivateImageRegistrySecret }}
  {{- end }}

  tls:
    disableNonTLSListeners: false
  replicas: {{ .RabbitmqReplicaCount }}
  persistence:
    storageClassName: {{ .RabbitmqStorageClass }}
    storage: {{ .RabbitmqPvcSize }}Gi

  {{- if eq .ResourcesSource "preset" }}
  resources:
    {{- $preset := index $presets .RabbitmqResourcesPreset }}
    requests:
      cpu: {{ $preset.requests.cpu | quote }}
      memory: {{ $preset.requests.memory | quote }}
      ephemeral-storage: {{ index $preset.requests "ephemeral-storage" | quote }}
    limits:
      cpu: {{ $preset.limits.cpu | quote }}
      memory: {{ $preset.limits.memory | quote }}
      ephemeral-storage: {{ index $preset.limits "ephemeral-storage" | quote }}
  {{- else if eq .ResourcesSource "editor" }}
{{ .RabbitmqResourcesPreset | indent 2 }}
  {{- end }}

  # RabbitMQ runtime configuration and plugins
  rabbitmq:
    # Bitnami: extraPlugins (space-separated). Operator uses a list.
    additionalPlugins:
      - rabbitmq_jms_topic_exchange

    # Bitnami: extraConfiguration (rabbitmq.conf lines) + loadDefinition
    # Adds your config and instructs the broker to load definitions from a mounted Secret file.
    additionalConfig: |
      raft.wal_max_size_bytes = 1048576
      quorum_queue.continuous_membership_reconciliation.enabled = true
      quorum_queue.continuous_membership_reconciliation.target_group_size = {{ .RabbitmqReplicaCount }}
      quorum_queue.continuous_membership_reconciliation.auto_remove = true
      quorum_queue.continuous_membership_reconciliation.interval = 600000
      default_user = guest
      default_pass = guest
      default_vhost = /

  override:
    statefulSet:
      spec:
        template:
          spec:
            containers:
              - name: rabbitmq
                env:
                  - name: RABBITMQ_ERLANG_COOKIE
                    valueFrom:
                      secretKeyRef:
                        name: dai-xld-rabbitmq-secret
                        key: rabbitmq-erlang-cookie
                securityContext:
                  allowPrivilegeEscalation: false
                  readOnlyRootFilesystem: true
                  runAsNonRoot: true
                  capabilities:
                    drop:
                      - ALL
            initContainers:
              - name: setup-container
                securityContext:
                  allowPrivilegeEscalation: false
                  readOnlyRootFilesystem: true
                  runAsNonRoot: true
                  capabilities:
                    drop:
                      - ALL
            securityContext:
              seccompProfile:
                type: RuntimeDefault