apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  {{- if eq .UseCustomNamespace true }}
  name: {{ .Namespace }}-xld-operator-manager
  {{- else }}
  name: xld-operator-manager
  {{- end }}
rules:
{{- if eq .K8sSetup "Openshift" }}
- apiGroups:
    - policy
  resources:
    - poddisruptionbudgets
  verbs:
    - '*'
- apiGroups:
    - route.openshift.io
  resources:
    - '*'
  verbs:
    - '*'
{{- end }}
