replicaCount: {{ .RemoteRunnerCount }}

release:
  url: {{ .RemoteRunnerReleaseUrl }}
  registrationToken: "{{ .RemoteRunnerToken }}"

image:
  {{- if eq .IsCustomImageRegistry true }}
  registry: {{ .CustomImageRegistryName }}
  {{- end }}
  repository: {{ .RepositoryNameReleaseRunner }}
  name: {{ .ImageNameReleaseRunner }}
  tag: {{ .ImageTagReleaseRunner }}
  {{- if eq .ImageRegistryType "private" }}
  pullSecrets:
    - {{ .CustomPrivateImageRegistrySecret }}
  {{- end }}

{{- if eq .IsRemoteRunnerTruststoreEnabled true }}
runner:
  restClientCA: {{ .RemoteRunnerRestClientCa }}
{{- end }}
