{{- $presets := dict
  "nano" (dict
      "requests" (dict "cpu" "100m" "memory" "128Mi" "ephemeral-storage" "50Mi")
      "limits" (dict "cpu" "150m" "memory" "192Mi" "ephemeral-storage" "2Gi")
   )
  "micro" (dict
      "requests" (dict "cpu" "250m" "memory" "256Mi" "ephemeral-storage" "50Mi")
      "limits" (dict "cpu" "375m" "memory" "384Mi" "ephemeral-storage" "2Gi")
   )
  "small" (dict
      "requests" (dict "cpu" "500m" "memory" "512Mi" "ephemeral-storage" "50Mi")
      "limits" (dict "cpu" "750m" "memory" "768Mi" "ephemeral-storage" "2Gi")
   )
  "medium" (dict
      "requests" (dict "cpu" "500m" "memory" "1024Mi" "ephemeral-storage" "50Mi")
      "limits" (dict "cpu" "750m" "memory" "1536Mi" "ephemeral-storage" "2Gi")
   )
  "large" (dict
      "requests" (dict "cpu" "1.0" "memory" "2048Mi" "ephemeral-storage" "50Mi")
      "limits" (dict "cpu" "1.5" "memory" "3072Mi" "ephemeral-storage" "2Gi")
   )
  "xlarge" (dict
      "requests" (dict "cpu" "1.0" "memory" "3072Mi" "ephemeral-storage" "50Mi")
      "limits" (dict "cpu" "3.0" "memory" "6144Mi" "ephemeral-storage" "2Gi")
   )
  "2xlarge" (dict
      "requests" (dict "cpu" "1.0" "memory" "3072Mi" "ephemeral-storage" "50Mi")
      "limits" (dict "cpu" "6.0" "memory" "12288Mi" "ephemeral-storage" "2Gi")
   )
 }}
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: dai-xlr-postgres
  annotations:
    "cnpg.io/hibernation": "off"
spec:
  enablePDB: false

  # Number of PostgreSQL instances (1 primary). Add replicas by increasing this.
  instances: 1

  # PostgreSQL major version to use
  {{- if eq .IsCustomImageRegistry true }}
  imageName: {{ .CustomImageRegistryName }}/{{ .RepositoryNameRelease }}/postgresql:18.1-minimal-trixie
  {{- else }}
  imageName: ghcr.io/cloudnative-pg/postgresql:18.1-minimal-trixie
  {{- end }}

  {{- if eq .ImageRegistryType "private" }}
  imagePullSecrets:
    - name: {{ .CustomPrivateImageRegistrySecret }}
  {{- end }}

  # Storage (maps from primary.persistence.*)
  storage:
    pvcTemplate:
      accessModes:
         - ReadWriteOnce
      resources:
         requests:
           storage: {{ .PostgresqlPvcSize }}Gi
      storageClassName: {{ .PostgresqlStorageClass }}
      volumeMode: Filesystem
      # for the case of exising PV
      # selector:
      #   matchLabels:
      #     my: pg

  # Resources
  {{- if eq .ResourcesSource "preset" }}
  resources:
    {{- $preset := index $presets .PostgresqlResourcesPreset }}
    requests:
      cpu: {{ $preset.requests.cpu | quote }}
      memory: {{ $preset.requests.memory | quote }}
      ephemeral-storage: {{ index $preset.requests "ephemeral-storage" | quote }}
    limits:
      cpu: {{ $preset.limits.cpu | quote }}
      memory: {{ $preset.limits.memory | quote }}
      ephemeral-storage: {{ index $preset.limits "ephemeral-storage" | quote }}
  {{- else if eq .ResourcesSource "editor" }}
{{ .PostgresqlResourcesEditor | indent 2 }}
  {{- end }}

  # Service configuration (maps from primary.service.*)
  managed:
    services:
      disabledDefaultServices: [ "ro", "r" ]

  nodeMaintenanceWindow:
    inProgress: false
    reusePVC: true

  # Authentication (maps from auth.*)
  # Create a Secret with the superuser password and reference it here
  enableSuperuserAccess: true
  superuserSecret:
    name: dai-xlr-postgres-superuser

  # Bootstrap/initdb and post-init scripts
  bootstrap:
    initdb:
      postInitSQL:
        - CREATE DATABASE "xlr-db";
        - CREATE DATABASE "xlr-report-db";
      # Ccreate an application DB/owner here if you need one
      # database: <app_db_name>
      # owner: <app_owner>
      # secret:
      #   name: <app-owner-secret>  # contains user/password for owner
      # Run your initial scripts from a Secret (maps from primary.initdb.scriptsSecret)
      # For each script file in the Secret, add an entry below referencing its key
      postInitApplicationSQLRefs:
        secretRefs:
          - name: dai-xlr-postgres-init
            key: init.sql

  # PostgreSQL configuration (maps from primary.configuration)
  postgresql:
    parameters:
      wal_level: "replica"
      max_wal_size: "400MB"
      max_wal_senders: "16"
      wal_keep_size: "128MB"
      fsync: "on"
      log_connections: "false"
      log_disconnections: "false"
      log_hostname: "false"
      client_min_messages: "error"
      max_connections: "300"
      shared_buffers: "80MB"